<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.com.example.android.galleriadcinema">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SortActivity"
            android:label="@string/pref_sort_title"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.com.example.android.galleriadcinema.SortActivity" />
        </activity>
        <activity
            android:name=".MovieDetailActivity"
            android:label="@string/title_activity_movie_detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.com.example.android.galleriadcinema.MainActivity" />
        </activity>
        <activity
            android:name=".trailerActivity"
            android:label="@string/title_activity_trailer"
            android:parentActivityName=".MovieDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.com.example.android.galleriadcinema.MovieDetailActivity" />
        </activity>
        <activity
            android:name=".reviewActivity"
            android:label="@string/title_activity_review"
            android:parentActivityName=".MovieDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.com.example.android.galleriadcinema.MovieDetailActivity" />
        </activity>

        <provider
            android:authorities="app.com.example.android.galleriadcinema.MovieProvider"
            android:name="app.com.example.android.galleriadcinema.generated.MovieProvider"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>
